@import "~src/sass/_variables.scss";

:host {
  position: absolute;
  top: 50%;
  width: calc(100% - 2 * #{$hui-base-space});
  transform: translateY(-50%);
  text-align: center;

  .hui-dashboard-item-value {
    font-size: 48px;
    line-height:  48px;
  }
  .hui-dashboard-item-label-sensor {
    font-weight: bold;
    font-size: 1rem;
    padding: $hui-base-space 0 $hui-base-space/2 0;
  }
}

:host.hui-dashboard-item-size-2x2 {
  .hui-dashboard-item-value {
    font-size: 120px;
    line-height:  120px;
  }
}
