<h1 mat-dialog-title>Add dashboard item</h1>
<div mat-dialog-content class="hui-dashboard-add-item-dialog-form-fields">
  <mat-form-field>
    <mat-select placeholder="Unit" [(ngModel)]="data.selectedUnit">
      <mat-option value="{{unit.name}}" *ngFor="let unit of data.units | async">{{unit.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Size" [(ngModel)]="data.size">
      <mat-option value="1x1">1x1</mat-option>
      <mat-option value="2x2">2x2</mat-option>
      <mat-option value="1x2">1x2</mat-option>
      <mat-option value="1x3">1x3</mat-option>
      <mat-option value="1x4">1x4</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCloseClick()" color="accent">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial color="accent">Add new item</button>
</div>
