<h1 mat-dialog-title>Add dashboard item</h1>
<div mat-dialog-content class="hui-dashboard-add-item-dialog-form-fields">
  <mat-form-field>
    <mat-select placeholder="Unit" [ngModel]="data.selectedUnit$ | async" (ngModelChange)="data.unitChangeHandler($event)" >
      <mat-option value="{{unit.name}}" *ngFor="let unit of data.units | async">{{unit.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Sensor" [(ngModel)]="data.selectedSensor" [disabled]="!(data.sensors$ | async)">
      <mat-option value="{{sensor.name}}" *ngFor="let sensor of data.sensors$ | async">{{sensor.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Type" [(ngModel)]="data.type">
      <mat-option value="{{type}}" *ngFor="let type of types">{{type}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Size" [(ngModel)]="data.size">
      <mat-option value="{{size}}" *ngFor="let size of sizes">{{size}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="data.type === 'chart'">
    <mat-select placeholder="Color" [(ngModel)]="data.color">
      <mat-option value="{{color}}" *ngFor="let color of colors">{{color}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCloseClick()" color="accent">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial color="accent" [disabled]="!data.selectedSensor">Add new item</button>
</div>
