@import "~src/sass/_variables.scss";

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.hui-page-not-found-box {
  flex: 1;
  position: relative;
  margin: $hui-base-space 0;

  .hui-page-not-found-box-inner {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    h1 {
      font-family: 'Press Start 2P', cursive;
    }
  }
}
