<h2 mat-dialog-title>Settings</h2>

<mat-dialog-content class="hui-dashboard-settings-dialog-form-fields">
  <mat-form-field>
    <input matInput [(ngModel)]="data.influxdbServer" placeholder="InfluxDB Server">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.influxdbDatabase" placeholder="InfluxDB Database">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Refresh rate" [(ngModel)]="data.refreshRate">
      <mat-option *ngFor="let refreshRate of refreshRates" value="{{refreshRate}}">{{refreshRate}}s</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions fxLayout="wrap" fxLayoutGap="12px grid">
  <div fxFlex="50%">
    <button mat-raised-button (click)="onCloseClick()" >Cancel</button>
  </div>
  <div fxFlex="50%">
    <button mat-raised-button [mat-dialog-close]="data" color="primary" >Update settings</button>
  </div>
</mat-dialog-actions>
