@import '~@angular/material/theming';

@mixin hui-dashboard-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  gridster {
    gridster-preview {
      background: mat-color($primary, 500);
    }
  }
}
