<ng-container [ngSwitch]="item.type">
  <div class="hui-dashboard-item-actions">
    <mat-icon aria-hidden="false" aria-label="edit item" color="accent" [routerLink]="['edit-item', item.id]">edit</mat-icon>
  </div>
  <div class="hui-dashboard-item-inner">
    <ng-container *ngSwitchCase="DashboardItemType.Value">
      <hui-value-dashboard-item [item]="item"></hui-value-dashboard-item>
    </ng-container>
    <ng-container *ngSwitchCase="DashboardItemType.Chart">
      <hui-chart-dashboard-item [item]="item"></hui-chart-dashboard-item>
    </ng-container>
  </div>
</ng-container>
