@import "~src/sass/_variables.scss";

:host {
  padding: $hui-base-space;
  display: flex;
  flex-direction: column;
  flex: 1;

  .hui-dashboard-item-inner {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .hui-dashboard-item-actions {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: right;
    padding: $hui-base-space;
    z-index: 100;

    mat-icon {
      cursor: pointer;
    }
  }
}

:host:hover {
  .hui-dashboard-item-actions {
    display: block;
  }
}
